@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

* {
    font-family: "Jura";
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #333333;
}

/* Attributes */
    .flex-col{
        display: flex;
        flex-direction: column;
    }

    .flex-center{
        justify-content: center;
        align-items: center;
    }


/* !--- OBJECTS ---! */

a{
    color: #4EB5FF;
}

.logo{
        font-family: "Megrim";
        color: #4EB5FF;
 }

/* --- Nav Bar --- */
    nav .logo{
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;

        padding: 0.5em 1em;

        background: rgba(33, 33, 33, 0.75);
        border-radius: 0 0 1em 0;
    }

    nav{
            font-size: 1.5em;
        } 

    .primary-navbar{
        z-index: 9999;
        position: fixed;
        top: 0;
        right: 0;

        padding: 0.25em 1em 0.5em 1em;

        background: rgba(33, 33, 33, 0.75);
        border-radius: 0 0 0 1em;

        list-style: none;
        display: flex;
        gap: 2em;
    }

    .primary-navbar sup{
        font-size: 0.75em;
        color: lightsalmon;
    }

    nav a{
        color: white;
        text-decoration: none;
    }

    .mobile-nav-toggle{
        display: none;
    }

    @supports(backdrop-filter: blur(1em)) {
        nav .logo{
            background-color: hsl(0 0% 100% / 0.2);
            backdrop-filter: blur(1em);
        }
        .primary-navbar{
            background-color: hsl(0 0% 100% / 0.2);
            backdrop-filter: blur(1em);
        }
    }

    @media (max-width: 60em) {
        .primary-navbar{
            background: rgba(33, 33, 33, 0.75);
            
            z-index: 1000;
            position: fixed;
            flex-direction: column;
            gap: 0.5em;

            inset: 0 0 0 40%;
            padding: 5rem 0 0 2rem;
            transform: translate(100%);
            transition: transform 200ms ease;
        }

       

        .primary-navbar[data-visible="true"]{
            transform: translate(0%);
            transition: transform 200ms ease;
        }

        .mobile-nav-toggle{
            color: white;
            background: rgba(33, 33, 33, 0.75);

            display: block;
            z-index: 9999;
            border:none;
            border-radius: 0 0 0 1em;
            padding: 1em 3em 1em 1.5em;
            position: fixed;
            width: 2em;
            aspect-ratio: 1;
            top: 0;
            right: 0;
    
        }

        @supports (backdrop-filter: blur(1rem)){
            .primary-navbar{
                background: hsl(0 0% 100% / 0.2);
                backdrop-filter: blur(1rem);
            }

            .mobile-nav-toggle{
                background: hsl(0 0% 100% / 0.2);
                backdrop-filter: blur(1rem);
            }
        } 
    }


    
    /* --- Banner --- */
    .banner {
        height: 100vh;
        min-height: fit-content;
        width: 100%;

        background: url("/03_assets/pictures/Home-Background.jpg") no-repeat center/cover;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner h1 {
        font-size: 4em;
        text-align: center;
    }


    /* --- Banner Container --- */
    .banner .container {
        color: rgb(255, 255, 255);
        padding: 10%;
    }

    .banner .container h1 {
        text-align: center;
        color: white;
        font-weight: lighter;
    }

    .banner .container h2 {
        font-size: 2em;
        text-align: center;
    }

    .banner .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .banner .buttons button {
        color: white;
        background-color: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(0.5rem);
        font-size: 1.7em;

        width: 8em;

        margin: 1em 1em;
        padding: 0.5em 1em;

        border: none;
        border-radius: 1em;
        
    }

    .banner .buttons button:hover {
        background-color: hsl(0 0% 100% / 0.2);
        color: lightsalmon;
    }


    /* Box Container */
    .box-container {
        color: white;
        background-color: #333333;

        text-align: center;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .box {
        flex: 1 1 400px;
        margin: 3em 2em;
        max-width: 600px;
    }

    .box h3{
    	margin-bottom: 1em;
    }

    .h-line{
        background-color: white;
        height: 1px;
        width: 100%;
        margin-top: 1em;
    }


    /* Info Cards */
    .info-cards-container{
            background: url("/03_assets/pictures/infocards.jpeg") bottom center/cover;
            padding: 5em 0;
    }

    .grid-col-span-2{
        grid-column: span 2;
    }
    
    .card-badge{
        height: 5em;
        margin: 1em 1em 0 0;
    }

    
    
    .info-cards{
        display: grid;
        max-width: min(80%,80em);
        gap: 2em;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .info-cards article{
        background: rgba(70, 70, 70, 0.75);
        color: white;
        border-radius: 2em;
        padding: 1em 2em 2em 2em;
    }

    @supports (backdrop-filter: blur(1rem)){
        .info-cards article{
            background: hsl(0 0% 100% /0.2);
            backdrop-filter: blur(2rem);
        }
    }
    
    .info-cards article .head{
        display: flex;
        align-items: center;
    }
    
    .info-cards .heading{
        display: flex;
        flex-direction: column;
    }
    
    .info-cards .body{
        padding-top: 1em;
    }

    @media (max-width: 60em){
        .info-cards{
            grid-template-columns: repeat(1, 1fr);
        }

        .grid-col-span-2{
            grid-column: span 1;
        }
    }

    /* Footer */
    .footer {
        display: flex;
        padding-left: 30px;
        padding: 1em 2em;

        color: white;
        background-color: #333333;
    }