/* Importing Fonts*/
@font-face {
    font-family: "jetBrainsMono";
    src: url("font/JetBrainsMono-Light.ttf") format("truetype");
}

/* Background*/
body {
    background: rgb(10, 24, 17)
    top no-repeat url("pictures/counter_background.jpg");
    background-size: 100vw ;
}

/*
#top {
    background: top no-repeat url("pictures/counter_background.jpg");
    background-size: 100vw ;
}
*/

/*Header*/
.header {
    font-family: "jetBrainsMono", Calibri, Tahoma, sans-serif;
    font-size: 8vw;
    text-align: center;
    color: white;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p {
    color: white;
    font-family: "jetBrainsMono", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vw;
}

td {
    color: white;
    font-family: "jetBrainsMono", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vw;
}

