.banner{
    height: 10em;
}

h1{
    font-family: "Megrim";
}

.contact-container {
    background-color: #333333;
    color: white;
    padding: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container a{
    color: #4EB5FF;
}

/* Form */
.formular{
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    
}

.form-container input{
    margin-top: 0.5em;
    background-color: lightgray;
    border: none;
    border-radius: 0.5em;

    font-size: 1em;

    height: 2em;
    width: 20em;
    max-width: 80vw;
}

.form-container input:invalid {
    border: solid #fd7676 1px
}

.form-container textarea{
    background-color: lightgray;
    margin-top: 0.5em;
    border-radius: 0.5em;
    border: none;

    font-size: 1em;

    width: 80vw;
    max-width: 50em ;
    height: 10em;

    resize: none;
    scroll-behavior: auto;
}

.form-container textarea:invalid{
        border: solid #fd7676 1px;
}

label {
    padding-top: 1em;
}

/* Button */
.formular button{
    color: white;
    background-color: #4EB5FF;

    align-self: flex-end;
    margin-top: 2em;
    width: 8em;
    height: 2em;

    font-size: 1em;

    border-radius: 1em;
    border: none;
}

button:hover {
    font-weight: 900;
    border: #76c3fa solid 3px;
}

