@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

* {
    font-family: "Jura";
    font-weight: 300;
}


.container{
    background-color: lightcoral;

    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.box{
    padding: 10px;
    background-color: lightblue;
    width: 200px;
}