@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

* {
    font-family: "Jura";
    font-weight: 300;
}

body {
    padding: 0;
    margin: 0;
}


/* !--- OBJECTS ---! */

    /* --- Nav Bar --- */
    nav {
        display: flex;
        align-items: center;
        padding-left: 2em;
        background-color: #333333;
    }

    nav img {
        height: 2em;
    }

    nav .list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    nav .list li {
        flex: 0 1 100;
    }

    nav a {
        padding-right: 1em;
        text-decoration: none;
        font-size: 1.5em;
        color: white;
    }

    nav a:hover {
        color: #4EB5FF;
    }

    /* --- Banner --- */
    .banner {
        height: 50em;
        min-height: fit-content;
        width: 100%;

        background: url("pictures/HandyBackground_full.jpg") no-repeat center/cover;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner h1 {
        font-size: 4em;
        text-align: center;
    }


    /* --- Banner Container --- */
    .banner .container {
        color: rgb(255, 255, 255);
        padding-bottom: 5em;
    }

    .banner .container h1 {
        text-align: center;
        color: white;
        font-weight: lighter;
    }

    .banner .container h2 {
        font-size: 2em;
        text-align: center;
    }

    .banner .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .banner .buttons button {
        background-color: lightgray;
        font-size: 1.7em;

        width: 8em;

        margin: 1em 1em;
        padding: 0.5em 1em;

        border: 0;
        border-radius: 1em;
        
    }

    .banner .buttons button:hover {
        color: white;
        background-color: #4EB5FF;;
    }


    /* Two Box Container */
    .two-box-container {
        color: white;
        background-color: #333333;

        text-align: center;

        display: flex;
        justify-content: space-evenly;
        justify-items: center;
        flex-shrink: 100;
        flex-wrap: wrap;
    }

    .box {
        font-size: 20px;
        margin: 2em;
        max-width: 600px;
    }

    .h-line{
        background-color: white;
        height: 2px;
        width: 100%;
    }


    /* Footer */
    .footer {
        display: flex;
        padding-left: 30px;

        color: white;
        background-color: #333333;
    }