/* Importing Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Jura');

* {
    font-family: "Jura";
}

body {
    margin: 0;
    padding: 0;
}

/* ----- Positioning ----- */

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.horizontal-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}


/* >>> Objects <<< */

    /* ----- Navbar ----- */

    .navbar {
        position: relative;
        width: auto;
        height: 75px;    
        background-color: black;
    }

    .navigator {
        color: white;
        border-spacing: 20px;

        font-size: 20px;
    }

    div.navbar a {
        color: white;
        text-decoration-line: none;
    }

    div.navbar a:hover {
        color: lightgray;
    }

    div.navbar a.current-page {
        color: lightgray;
    }

    
    /* Banner */
    .banner {
        display: flex;
        flex-direction: column;
        height: 40vw;
        width: 100%;

        background: url("pictures/counter_background_full.jpg") no-repeat top left/cover ;

        justify-content: center;
        align-items: center;
    }

    .banner header {
        font-size: 4em;
    }

    .banner h1 {
        font-weight: lighter;
    }

    .counter {
        display: flex;
        color: white;
        background-color: #4EB5FF;
        border-radius: 4em;
        padding: 0px 1em;
    }

    .counter h1 {
        padding: 0em 0.25em;
        font-weight: lighter;
    }


    /* Footer */
    .footer {
        display: flex;
        padding-left: 30px;

        color: white;
        background-color: #333333;
    }


