.banner{
    background: url("/03_assets/pictures/unused6.jpeg") no-repeat center/cover;
}

.banner h1{
    font-family: "Megrim";
}

.banner .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.counter ul{
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;

    gap: 1em;
}

.counter ul li{
    background: rgba(55, 55, 55, 0.75);
    
    height: 4em;
    aspect-ratio: 1;

    border-radius: 4em;
    font-size: 1.5em;

    /* Positioning numbers in center */
    display: flex;
    justify-content: center;
    align-items: center;


}

@supports (backdrop-filter: blur(1rem)){
    
    .counter ul li{
        background-color: hsl(0 0% 100% / 0.2);
        backdrop-filter: blur(1rem);
    }
}

@media (max-width: 35em){
    .counter ul{
        flex-direction: column;
    }
}