*{
    padding: 0;
    margin: 0;
}


.banner{
    background: url("/03_assets/pictures/changes.jpeg") center/cover;
    height: 40em;
}

.banner .container h1{
    font-family: "Megrim";
}


/* Changes */
.changes-container{
    background-color: #333333;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.change{
    width: 100%;
    max-width: 80em;
    padding: 1em 0;
}

/* Collapsible */
.collapsible{
    background-color: hsl(0 0% 100% / 0.2);
    color: white;
    cursor: pointer;

    text-align: left;
    hyphens: none;

    width: 100%;
    padding: 1em;

    border-radius: 1em;
    border: none;

    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.collapsible h5{
    font-size: 1.5em;
    font-weight: 100;
}
.collapsible p{
    font-size: 1.25em;
}

.collapsible:hover{
    background: hsl(0 0% 100% / 0.4);
}

.active{
    background: hsl(0 0% 100% / 0.2);
    border-radius: 1em 1em 0 0;
}

.content{
    display: none;
    overflow: hidden;

    padding: 1em;

    border: solid 2px hsl(0 0% 100% / 0.1);
    border-radius: 0 0 1em 1em;

    color: white;
    background-color: hsl(0 0% 100% / 0.1);

}

.changelog{
    color: lightgrey;
}

.changelog-divider{
    height: 0.05em;
    background-color: gray;
    margin: 2em 0 1em 0;
}

.content .icedt-logo{
    padding: 0.5em;
    width: 7.5em;
    aspect-ratio: 1/1;
}


